.header{
    background-image:linear-gradient(to right,rgb(4, 4, 182),rgb(64, 22, 82));
    padding:30px;
    text-align: center;
    color:white;
    font-family:'Barlow Condensed', sans-serif; 
    font-size: 50px;
    font-weight: bold;
    
}
body{
    font-family:'Barlow Condensed', sans-serif; 
    
}
#textarea{
    color: rgb(143, 143, 143);
    font-size: 20px;
    
}
#search{
    font-size: 30px;
    font-weight: bolder;
    
}
#searchbutton{
    background-color: rgb(76, 110, 245);
    color:white;
    padding-left: 98px;
    padding-right: 98px;
    padding-top:5px;
    padding-bottom: 5px;
    font-size: 20px;
    border-radius: 5px;
    display:flex;
    margin-top: 10px;
    
}
.searcharea{
    width:10px;
}
.main-card{
   border:solid black;
   height:200px;
   margin-left:400px;
   margin-right: 200px;
   margin-bottom: 20px;
   justify-content: space-between;
   text-align: center;
   font-size: 30px;
   padding-top:10px;
   line-height: 20px;
}
.cincoday{
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}
.fiveday{
    border:solid black;
    padding:10px;
    margin-left:400px;
    margin-right: 200px;
    display:flex;
    justify-content: space-evenly;
}
